<div class="jumbotron">
    <h1>Assignment</h1>
    <p class="lead">Press the links below to navigate</p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>For Bank Accounts</h2>
        <p>To add a bank account: </p>
        <p><a class="btn btn-default" href="/BankAccounts/create">Click Here &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>For Transactions</h2>
        <p>To add a transaction: </p>
        <p><a class="btn btn-default" href="/Transactions/create">Click Here &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>For Archive purposes:</h2>
        <p>To search for a specified user's accounts: <a class="btn btn-default" href="/bankaccounts">Click Here &raquo;</a> </p>
        <p>To search for a specified account's transactions: <a class="btn btn-default" href="/Transactions">Click Here &raquo;</a></p>
    </div>
</div>
